<!DOCTYPE html>
<html>
  
<head>
    <link 
     rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .i-am-centered {
            margin: auto;
            max-width: 300px;
            padding-top: 20%;
        }
    </style>
</head>
  
<body>

    <script>
        function submitAadhar(action){
            document.getElementById("id_name").removeAttribute("required");
            document.getElementById("id_dob").removeAttribute("required");
            document.getElementById("id_aadhar_no").removeAttribute("required");
            document.getElementById("id_gender").removeAttribute("required");
        }

        function submitAadharDetails(action){
            document.getElementById("id_name").setAttribute("required", "true");
            document.getElementById("id_dob").setAttribute("required", "true");
            document.getElementById("id_aadhar_no").setAttribute("required", "true");
            document.getElementById("id_gender").setAttribute("required", "true");
            document.getElementById("id_file").removeAttribute("required");
        }

    </script>

    <div class="i-am-centered">
        <form action="aadhar_upload" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-group">
                <label>Aadhar Card</label>
                {{ form.file }}
            </div>
            <div class="form-group">
                <input type="submit" name="file_upload" class="btn btn-primary" onclick="submitAadhar()">Submit Aadhar Card</button>
            </div>
            <div class="form-group">
                <label>Name</label>
                {{ form.name }}
            </div>
            <div class="form-group">
                <label>DOB</label>
                {{ form.dob }}
            </div>
            <div class="form-group">
                <label>Aadhar Number</label>
                {{ form.aadhar_no }}
            </div>
            <div class="form-group">
                <label>Gender</label>
                {{ form.gender}}
            </div>
            <div class="form-group">
                <input type="submit" name="details" class="btn btn-primary" onclick="submitAadharDetails()">Submit Details</button>
            </div>
        </form>
    </div>


</body>
  
</html>